In [1]:
# Import Libraries
import pandas as pd
import numpy

In [23]:
filepath = ""
cy = pd.read_csv(filepath + '\\data\\yield_df.csv') 
cy = cy.drop(['Unnamed: 0'], axis=1)
display(cy)

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.00,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.00,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.00,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.00,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.00,16.37
...,...,...,...,...,...,...,...
28237,Zimbabwe,"Rice, paddy",2013,22581,657.0,2550.07,19.76
28238,Zimbabwe,Sorghum,2013,3066,657.0,2550.07,19.76
28239,Zimbabwe,Soybeans,2013,13142,657.0,2550.07,19.76
28240,Zimbabwe,Sweet potatoes,2013,22222,657.0,2550.07,19.76
28241,Zimbabwe,Wheat,2013,22888,657.0,2550.07,19.76

In [24]:
def addstuff(df,filename, fill = False):
    stuff = pd.read_csv(filename) 
    stuff = stuff.drop(['Country Code', 'Indicator Code'], axis=1)
    if fill:
        stuff = stuff.fillna(0)
    stuff = stuff.melt(id_vars=['Country Name',"Indicator Name"]) 
    stuff['variable'] = pd.to_numeric(stuff['variable'])
    # GDP = GDP.rename(index={"value": GDP['Indicator Name'].iloc[0]}) 
    added = pd.merge(df, stuff,  how='left', left_on=['Area','Year'], right_on = ['Country Name','variable'])
    added = added.rename(columns={"value": added['Indicator Name'].iloc[0]})
    added = added.drop(['Country Name', 'variable','Indicator Name'], axis=1)
    return added
cy = addstuff(cy,filepath + '\\data\\Trade percentage of GDP.csv')
cy = addstuff(cy,filepath + '\\data\\Patent Applications.csv', True)
cy = addstuff(cy,filepath + '\\data\\Birth rate per 1k.csv')
cy = addstuff(cy,filepath + '\\data\\Arable Land.csv')
cy = addstuff(cy,filepath + '\\data\\Fixed Telephone Subscriptions.csv')
cy = addstuff(cy,filepath + '\\data\\Food imports.csv')
cy = addstuff(cy,filepath + '\\data\\GNI in US$.csv')
cy = addstuff(cy,filepath + '\\data\\Gender Ratio.csv')
cy = addstuff(cy,filepath + '\\data\\Land area.csv')
cy = addstuff(cy,filepath + '\\data\\Military Expenditure percent of gdp.csv')
cy = addstuff(cy,filepath + '\\data\\Net Migration.csv')
cy = addstuff(cy,filepath + '\\data\\Population ages 15-64 (% of total population).csv')
cy = addstuff(cy,filepath + '\\data\\agricultural_irrigated_land.csv')
cy = addstuff(cy,filepath + '\\data\\agricultural_land_sq_km.csv')
cy = addstuff(cy,filepath + '\\data\\agricultural_machinery_tractors.csv')
cy = addstuff(cy,filepath + '\\data\\droughts_floods_ex_temp.csv')
cy = addstuff(cy,filepath + '\\data\\employment_in_agriculture.csv')
cy.to_csv("yield and other stuff.csv")
display(cy)
cy.isna().sum()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Trade (% of GDP),"Patent applications, residents","Birth rate, crude (per 1,000 people)",...,"Population, female (% of total population)",Land area (sq. km),Military expenditure (% of GDP),Net migration,Population ages 15-64 (% of total population),Agricultural irrigated land (% of total agricultural land),Agricultural land (sq. km),"Agricultural machinery, tractors per 100 sq. km of arable land","Droughts, floods, extreme temperatures (% of population, average 1990-2009)",Employment in agriculture (% of total employment) (modeled ILO estimate)
0,Albania,Maize,1990,36613,1485.0,121.00,16.37,39.436963,0.0,24.415,...,49.108667,27400.0,5.888301,-52723.0,61.698500,NaN,11210.0,212.435233,NaN,NaN
1,Albania,Potatoes,1990,66667,1485.0,121.00,16.37,39.436963,0.0,24.415,...,49.108667,27400.0,5.888301,-52723.0,61.698500,NaN,11210.0,212.435233,NaN,NaN
2,Albania,"Rice, paddy",1990,23333,1485.0,121.00,16.37,39.436963,0.0,24.415,...,49.108667,27400.0,5.888301,-52723.0,61.698500,NaN,11210.0,212.435233,NaN,NaN
3,Albania,Sorghum,1990,12500,1485.0,121.00,16.37,39.436963,0.0,24.415,...,49.108667,27400.0,5.888301,-52723.0,61.698500,NaN,11210.0,212.435233,NaN,NaN
4,Albania,Soybeans,1990,7000,1485.0,121.00,16.37,39.436963,0.0,24.415,...,49.108667,27400.0,5.888301,-52723.0,61.698500,NaN,11210.0,212.435233,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28237,Zimbabwe,"Rice, paddy",2013,22581,657.0,2550.07,19.76,58.656494,0.0,36.246,...,53.058319,386850.0,1.868420,-59918.0,53.634994,NaN,162000.0,NaN,NaN,66.769997
28238,Zimbabwe,Sorghum,2013,3066,657.0,2550.07,19.76,58.656494,0.0,36.246,...,53.058319,386850.0,1.868420,-59918.0,53.634994,NaN,162000.0,NaN,NaN,66.769997
28239,Zimbabwe,Soybeans,2013,13142,657.0,2550.07,19.76,58.656494,0.0,36.246,...,53.058319,386850.0,1.868420,-59918.0,53.634994,NaN,162000.0,NaN,NaN,66.769997
28240,Zimbabwe,Sweet potatoes,2013,22222,657.0,2550.07,19.76,58.656494,0.0,36.246,...,53.058319,386850.0,1.868420,-59918.0,53.634994,NaN,162000.0,NaN,NaN,66.769997
28241,Zimbabwe,Wheat,2013,22888,657.0,2550.07,19.76,58.656494,0.0,36.246,...,53.058319,386850.0,1.868420,-59918.0,53.634994,NaN,162000.0,NaN,NaN,66.769997

Area                                                                               0
Item                                                                               0
Year                                                                               0
hg/ha_yield                                                                        0
average_rain_fall_mm_per_year                                                      0
pesticides_tonnes                                                                  0
avg_temp                                                                           0
Trade (% of GDP)                                                                1694
Patent applications, residents                                                  1014
Birth rate, crude (per 1,000 people)                                            1014
Arable land (% of land area)                                                    1014
Fixed telephone subscriptions                                                   1041
Food imports (% of merchandise imports)                                         3778
GNI (current US$)                                                               1320
Population, female (% of total population)                                      1014
Land area (sq. km)                                                              1014
Military expenditure (% of GDP)                                                 2042
Net migration                                                                   1014
Population ages 15-64 (% of total population)                                   1014
Agricultural irrigated land (% of total agricultural land)                     21069
Agricultural land (sq. km)                                                      1014
Agricultural machinery, tractors per 100 sq. km of arable land                 13959
Droughts, floods, extreme temperatures (% of population, average 1990-2009)    27059
Employment in agriculture (% of total employment) (modeled ILO estimate)        2139
dtype: int64